{% extends "adminparent.html" %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center;">Change Password</h1> 
            {% if msg %}
<div style="color: blue; text-align: center;" class="alert alert-primary" role="alert">{{msg}}</div>
{% endif %}  
              <form class="form-group" method="post">
                 {% csrf_token %}
                <table class="table text-light"> 
                    <td>Enter Old Password</td>
                    <td>
                        <input type="text" name="oldpassword" class="form-control text-light" required>
                    </td>
                    <tr>
                    <td>Enter New Password</td>
                    <td>
                        <input type="text" name="newpassword" class="form-control text-light" required>
                    </td>
                    </tr>
                    <tr>
                        <td>Confirm Password</td>
                        <td>
                            <input type="password" name="cnfpassword" class="form-control text-light" required>
                        </td>
                        </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button class="btn btn-outline-success" type="submit">Change</button>
                        </td>
                    </tr>
                </table>
              </form>
        </div>
    </div>
{% endblock body %}
